.main {
	line-height: 20px;
	width: 340px;
	margin: 300px auto 0 auto;
}

.rightAlign {
	width: 90px;
	display: inline-block;
	text-align: right;
}

.leftAlign {
	display: inline-block;
	text-align: left;
	margin-top: 5px
}

.buttonStyle {
	margin-left: 150px;
	margin-top: 10px;
}